/* Section - 1 ( Menu ) */

.menuItem {
    color: #fff;
    flex-grow: 1;
    display: flex;
    transition: all .1s;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: rgb(255 255 255 / 0%);
    text-align: center;
    pointer-events: all;
    cursor: pointer;
}
.headerBar {
    position: absolute;
    top: 0;
    height: 70px;
    padding: 0 12px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    background-color: rgb(255 255 255 / 0%);
    pointer-events: auto;
    border: 5px solid rgb(255 255 255 / 42%);
    border-radius: 50px;
}
.signedInHeaderBar {
    position: absolute;
    top: 0;
    height: 70px;
    padding: 0 12px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    background-color: rgb(255 255 255 / 0%);
    pointer-events: auto;
    border: 5px solid rgb(255 255 255 / 42%);
    border-radius: 50px;
}
#termsInfo {
    background-color: rgb(255 255 255 / 0%);
    padding: 5px 15px 15px 20px;
    border-top-left-radius: 6px;
    margin-right: -15px;
    border: 5px solid rgb(255 255 255 / 42%);
    border-radius: 50px;
}
#chatInputHolder {
    width: 100%;
    padding: 6px;
    padding-left: 10px;
    margin-top: 6px;
    font-size: 15px;
    box-sizing: border-box;
    background-color: rgb(255 255 255 / 0%);
    border: 2px solid rgb(255 255 255 / 0%);
    pointer-events: all;
    border-radius: 5px;
    text-align: center;
    color: #fff;
}
#chatInput {
    width: 269px;
    padding: 6px;
    padding-left: 10px;
    margin-top: 0;
    color: #fff;
    font-size: 15px;
    box-sizing: border-box;
    background-color: rgb(0 0 0 / 0%);
    border: 2px solid rgba(0,0,0,.1);
    pointer-events: all;
    border-radius: 5px;
    margin-left: 4px;
}
#chatList {
    overflow-y: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 999999;
    border-radius: 5px;
    background-color: rgb(255 255 255 / 5%);
    pointer-events: all;
    position: relative;
    direction: rtl;
    text-align: left;
}
#menuWindow.dark {
    background-color: rgb(255 255 255 / 0%);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: 4px 4px 200px rgb(255 255 255 / 40%);
}
#menuWindow.dark div {
    color: #ffffff;
}
.classCard {
    text-shadow: -1px -1px 0 #202020, 1px -1px 0 #202020, -1px 1px 0 #202020, 1px 1px 0 #202020, -2px -2px 0 #202020, 2px -2px 0 #202020, -2px 2px 0 #202020, 2px 2px 0 #202020, -3px -3px 0 #202020, 3px -3px 0 #202020, -3px 3px 0 #202020, 3px 3px 0 #202020;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    color: #fff;
    margin-bottom: 12px;
    margin-left: 6px;
    margin-right: 7px;
    padding: 10px;
    width: 182px;
    height: 253px;
    vertical-align: top;
    border-radius: 5px;
    display: inline-block;
    font-size: 24px;
    z-index: 1;
    cursor: pointer;
    position: relative;
    filter: drop-shadow(0 0 0.15rem #000000);
    background-color: #ffffff00;
    border: 1px solid rgb(255 255 255);
    border-radius: 50px;
}
#menuWindow {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 6px;
    max-height: calc(100% - 480px);
    z-index: 99999;
    overflow-y: auto;
    display: inline-block;
    text-align: left;
    pointer-events: auto;
    padding: 20px;
    width: 705px;
    font-size: 20px;
    background-color: #fff;
    -webkit-box-shadow: 0 9px 0 0 #a6a6a6;
    -moz-box-shadow: 0 9px 0 0 #a6a6a6;
    box-shadow: 0 9px 0 0 #a6a6a6;
    width: 1000px!important;
}
#selectorContainer {
    position: sticky;
    display: inline-block;
    width: 160px;
    height: 640px;
    background-color: rgb(255 255 255 / 0%);
    margin: -20px;
    top: -20px;
}
.custContainer {
    position: relative;
    display: inline-block;
    background-color: rgb(255 255 255 / 12%);
    padding: 5px;
    border: 3px solid rgb(4 0 234 / 40%);
    border-radius: 5px;
    box-shadow: inset 0 0 50px 0 rgb(27 0 255 / 64%);
    margin-top: 5px;
    width: 46.9%;
    height: 150px;
    opacity: .7;
}
.settingsHeader {
    width: 100%;
    padding-top: 19px;
    padding-bottom: 10px;
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
    z-index: 999999999;
    background-color: #fff0;
    padding-left: 20px;
    margin-left: -20px;
}
.setHed {
    border: 4px solid rgb(51 0 255 / 81%);
    border-radius: 6px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
    background-color: rgb(255 255 255 / 0%);
    margin-top: 40px;
    font-size: 22px;
    cursor: pointer;
    color: #fff;
}
.settingTab {
    font-size: 20px;
    background-color: rgb(255 255 255 / 12%);
    cursor: pointer;
    display: table-cell;
    padding: 15px 0 10px;
}
#instructionsUpdate {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%,-50%);
    z-index: 9;
    color: rgba(255,255,255,.8);
    font-size: 32px;
    background-color: #ffffff00;
    padding: 5px;
    width: 600px;
    border: 5px solid rgb(255 255 255 / 42%);
    border-radius: 50px;
}
.serverHeader {
    width: 100%;
    padding-top: 19px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 999999999;
    background-color: #fff0;
}
.setBodH {
    margin-left: 5px;
    width: calc(100% - 55px);
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-radius: 6px;
    background-color: rgb(0 0 0 / 57%);
}
#itemSearchH {
    width: 100%;
    padding-top: 19px;
    z-index: 999999999;
    background-color: #fff0;
}
.menuItem {
    border: 5px solid rgb(255 255 255 / 42%);
    border-radius: 50px;
}
.button {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 12px 18px;
    padding-top: 14px;
    margin-bottom: 6px;
    background-color: #ffc147;
    box-shadow: none;
    text-align: center;
    color: #fff;
    text-shadow: -1px -1px 0 #202020, 1px -1px 0 #202020, -1px 1px 0 #202020, 1px 1px 0 #202020, -2px -2px 0 #202020, 2px -2px 0 #202020, -2px 2px 0 #202020, 2px 2px 0 #202020;
    pointer-events: all;
    cursor: pointer;
    -webkit-transition: all .1s;
    transition: all .1s;
}
.buttonP {
    background-color: #ffffff00!important;
    box-shadow: none !important;
    border: 5px solid rgb(255 255 255 / 42%);
    border-radius: 50px;
}
.buttonR {
    background-color: #ffffff00!important;
    box-shadow: none !important;
    border: 5px solid rgb(255 255 255 / 42%);
    border-radius: 50px;
}
.buttonO {
    background-color: #ffffff00!important;
    box-shadow: none !important;
    border: 5px solid rgb(255 255 255 / 42%);
    border-radius: 50px;
}
.buttonPI {
    background-color: #ffffff00!important;
    box-shadow: none !important;
    border: 5px solid rgb(255 255 255 / 42%);
    border-radius: 50px;
}
#streamContainer {
    pointer-events: all;
    text-align: left;
    font-size: 16px;
    color: rgb(255 255 255 / 0%);
    background-color: rgb(255 255 255 / 0%);
    padding: 10px;
    border-radius: 4px;
    min-width: 240px;
    border: 5px solid rgb(255 255 255 / 42%);
    border-radius: 50px;
}
#newsHolder {
    pointer-events: all;
    width: 320px;
    height: 230px;
    padding: 10px;
    z-index: 20;
    position: absolute;
    right: 14px;
    top: 86px;
    text-align: left;
    font-size: 16px;
    border-radius: 4px;
    background-color: rgb(255 255 255 / 0%);
    border: 5px solid rgb(255 255 255 / 42%);
    border-radius: 50px;
}
#mapInfoHolder {
    position: absolute;
    bottom: 0;
    right: 0;
    pointer-events: all;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 15px;
    border: 5px solid rgb(255 255 255 / 42%);
    border-radius: 50px;
}
#uiBase.onMenu #spectButton {
    display: flex!important;
    align-items: center!important;
    position: absolute!important;
    top: calc(50% - 60px)!important;
    left: 50%!important;
    color: rgba(255,255,255,.5)!important;
    font-size: 18px!important;
    border: 5px solid rgb(255 255 255 / 42%)!important;
    border-radius: 50px!important;
    transform: translate(-50%, -50%)!important;
}
.buttonG {
    background-color: #ffffff00!important;
    box-shadow: none!important;
    border: 5px solid rgb(255 255 255 / 42%);
    border-radius: 50px!important;
}
.buttonB {
    background-color: #ffffff00!important;
    box-shadow: none!important;
    border: 5px solid rgb(255 255 255 / 42%);
    border-radius: 50px!important;
    align-items: center!important;
}
#aContainer {
    cursor: pointer;
    pointer-events: auto;
    padding: 10px;
    background-color: rgb(255 255 255 / 0%);
    max-height: 120px;
    max-width: 810px;
    min-width: 728px;
    min-height: 90px;
    overflow: hidden;
    display: inline-block!important;
}

/* Section - 2 (IN-GAME UI) */

/* Ammo and health display from reizu quake css */

@font-face {
    font-family: hpammo;
    src: url(https://raw.githubusercontent.com/South-Paw/typeface-vag-rounded/master/files/vag-rounded-400.woff2);
}
:root {
	--health-color: #dfafff;
	--ammo-color: #fff;
}
#healthValue {
	color: var(--health-color);
	font-family: hpammo;
	font-size: 60px;
	text-align: center;
	text-shadow: 2px 2px 3px rgba(30, 30, 30, .5);
	margin-top: 0;
	will-change: unset;
}
#hudClassIcon {
	display: none;
}
#maxHP {
	display: none;
}
#healthBar {
	display: none;
}

#ammoDisplay {
	background-color: transparent;
	letter-spacing: 0;
	width: 100px;
	height: 65px;
	border-radius: 0;
	position: fixed;
	right: 31%;
	bottom: 25%;
	padding: 0;
	padding-top: 0;
	padding-left: 0;
	transform: none;
}

#ammoVal {
	color: var(--ammo-color);
	font-family: hpammo;
	font-size: 60x;
	margin-left: 12px;
	text-shadow: 2px 2px 3px rgba(30, 30, 30, .5);
}

#ammoMax {
	display: none;
}

#ammoIcon {
	display: none;
}

#reloadMsg {
	bottom: 100px;
	background: transparent !important;
}
#healthValueHolder {
	background-color: transparent;
	width: 100px;
	height: 65px;
	border-radius: 0;
	position: fixed;
	left: 30%;
	bottom: 25%;
	padding: 0;
	margin-bottom: 0;
	padding-right: 0;
	padding-left: 0;
	align-items: center;
}
